.wm-settings-page h2.nav-tab-wrapper {
	display: none;
}
.wm-settings-page .nav-tab {
	box-shadow: none;
}

.wm-settings-sections {
	margin-top: 23px;
}

.wm-settings-page .wm-preview-media {
	height: auto;
	width: auto;
	max-height: 240px;
    max-width: 100%;
}

.wm-settings-page .button.wm-settings-reset {
	float: right;
	color: #a00;
	height: auto;
    margin: 0 0 0 8px;
	padding: 0;
    line-height: 15px;
	font-size: 13px;
	text-decoration: underline;
	background: none;
	border: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.wm-settings-page .button.wm-settings-reset:hover {
	color: #f00;
    text-decoration: none;
}

@media screen and (max-width: 782px) {
	.wm-settings-page input.regular-text {
		width: 100%;
	    font-size: 16px;
	    line-height: 1.5;
	    padding: 7px 10px;
	    display: block;
	    max-width: none;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}
	.wm-settings-page .button.wm-settings-reset {
		font-size: 14px;
	    margin-top: 12px;
	}
}*/
