.notice.info {
	border-color: #2ea2cc;
}
.notice.warning {
	border-color: #ffba00;
}

.wm-settings-form h3,
.wm-settings-form .submit {
	padding-top: 20px;
	border-top: 1px solid #ccc;
}

.wm-settings-form .wm-settings-tabs {
    padding: 10px 15px 0 10px;
    line-height: 29px;
	border-bottom: 1px solid #ccc;
}
.wm-settings-form .wm-settings-tabs h3 {
	padding: 6px 10px;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
	border: 1px solid #ccc;
    border-bottom: none;
    background: #e4e4e4;
    color: #555;
    display: inline-block;
    text-decoration: none;
    margin: 0 4px -1px 0;
	cursor: pointer;
    -webkit-transition-property: border, background, color;
    transition-property: border, background, color;
    -webkit-transition-duration: .05s;
    transition-duration: .05s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
.wm-settings-form .wm-settings-tabs h3:hover {
    background: #fff;
    color: #464646;
}
.wm-settings-form .wm-settings-tabs h3.active {
	border-bottom: 1px solid #f1f1f1;
    background: #f1f1f1;
    color: #000;
}
.wm-settings-form .wm-settings-tab {
	margin: 23px 10px 0;
}
.wm-settings-form .wm-preview-media {
	height: auto;
	width: auto;
	max-height: 240px;
    max-width: 100%;
}

tr.hide-label th {
	display: none;
}
tr.hide-label td {
	padding-left: 0;
}

#wm_settings_reset {
	float: right;
	color: #a00;
	height: auto;
    margin: 0 0 0 8px;
	padding: 0;
    line-height: 15px;
	font-size: 13px;
	text-decoration: underline;
	background: none;
	border: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#wm_settings_reset:hover {
	color: #f00;
    text-decoration: none;
}

@media screen and (max-width: 782px) {
	input.regular-text {
		width: 100%;
	    font-size: 16px;
	    line-height: 1.5;
	    padding: 7px 10px;
	    display: block;
	    max-width: none;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}
	#wm_settings_reset {
		font-size: 14px;
	    margin-top: 12px;
	}
}
