form.wrap h3,
form.wrap p.submit {
	padding-top: 20px;
	border-top: 1px solid #ccc;
}
form.wrap td .settings-error {
	max-height: 200px;
	overflow: scroll;
}
form.wrap td .settings-error p {
	margin: 0.5em 0;
}

form.wrap .wm-settings-tabs {
    padding: 10px 15px 0 10px;
    line-height: 29px;
	border-bottom: 1px solid #ccc;
}
form.wrap .wm-settings-tabs h3 {
	padding: 6px 10px;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
	border: 1px solid #ccc;
    border-bottom: none;
    background: #e4e4e4;
    color: #555;
    display: inline-block;
    text-decoration: none;
    margin: 0 4px -1px 0;
	cursor: pointer;
}
form.wrap .wm-settings-tabs h3:hover,
form.wrap .wm-settings-tabs h3.active {
	border-bottom: 1px solid #f1f1f1;
    background: #f1f1f1;
    color: #000;
}
form.wrap .wm-settings-tabs h3:hover {
    background-color: #fff;
    color: #464646;
}

form.wrap .wm-settings-tab {
	margin: 23px 10px 0;
}

.settings-error.info,
.settings-error.warning {
	margin: 5px 0 15px;
	border-left: 4px solid #2ea2cc;
	padding: 1px 12px;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.settings-error.warning {
	border-color: #ffba00;
}
.settings-error.info p,
.settings-error.warning p {
	margin: 0.5em 0;
	padding: 2px;
}

tr.hide-label th {
	display: none;
}
tr.hide-label td {
	padding-left: 0;
}

#wm_settings_reset {
	float: right;
	color: #a00;
	display: block;
	height: auto;
    margin: 6px 0 6px 8px;
	padding: 0;
    line-height: 15px;
	font-size: 13px;
	text-decoration: underline;
	background: none;
	border: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#wm_settings_reset:hover {
	color: #f00;
    text-decoration: none;
}
